<div class="row">
  <% @houses.each do |house| %>
    <div class="col-md-6 mb-3">
      <div class="card" style="width: 100%;">
        <!-- Can replace the following image tag with your actual image using image_tag -->
        <% if house.photo.attached? %>
          <%= image_tag(cl_image_path house.photo.key, width: 400, height: 300, crop: :fill) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= house.address %></h5>
          <p class="card-text"><strong>Minimum Ask Price:</strong> <%= number_to_currency(house.price, precision: 0) %></p>
          <p class="card-text">Highest Offered Price: <%= number_to_currency(house.offers.maximum(:price), precision: 0) %></p>
          <div class="d-flex justify-content-between">
            <p class="card-text">Size in sqft: <%= house.square_feet %>sqft</p>
            <%# calculate the price per square feet within ERB %>
            <p class="card-text">Price per sqft: <%= number_to_currency((house.price.to_f / house.square_feet).round(2)) %>psf</p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-text">Bathrooms: <%= house.bathroom %></p>
            <p class="card-text">Bedrooms: <%= house.bedroom %></p>
          </div>
          <div class="d-flex justify-content-between">
            <%= link_to "Check this out!", house_path(house), class: "btn btn-primary" %>
            <p class="card-text">Listed By: <%= house.user[:first_name] %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
