<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% photos.each_with_index do |photo, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" <%= 'class="active" aria-current="true"' if index == 0 %> aria-label="Slide <%= index + 1 %>"></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag(cl_image_path(photo.key), class: "d-block w-100", alt: "House Photo") %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
