<div class="container mt-5">
  <div>
    <%= link_to :back, class: "btn" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
  </div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1>My Listings</h1>
    </div>
    <div class="col-md-3 text-right mb-3">
      <% if @user_houses.present? %>
        <%= link_to "Create a new listing", new_house_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <% if @user_houses.present? %>
      <% @user_houses.each do |house| %>
        <div class="col-md-3 mb-4">
          <div class="card h-100" style="width: 19rem;">
            <% if house.photos.attached? %>
              <%= image_tag(cl_image_path house.photos.first.key, width: 400, height: 300, crop: :fill) %>
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= house.address %></h5>
              <p class="card-text">Minimum Ask Price: <%= number_to_currency(house.price, precision: 0)%></p>
              <p class="card-text">No. of Offers: <%= Offer.where(house_id: house.id, status: 'Pending').length %></p>
              <% if Offer.where(house_id: house.id, status: 'Pending').present? %>
                <p class="card-text">Highest Offer: <%= number_to_currency(Offer.where(house_id: house.id, status: 'Pending').maximum(:price), precision: 0)%> </p>
              <% end %>
              <div class="mt-auto">
                <%= link_to "Check this out!", house_path(house), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12 text-center">
        <div>
          <%= image_tag 'empty.webp', alt: "No Houses" %>
          <h3>There are no listings yet.</h3>
        </div>
        <div>
          <%= link_to "Create a new listing", new_house_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
