<div class="container mt-5">
  <div>
    <%= link_to houses_path, class: "btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="text-center">
    <h1>My Offers</h1>
  </div>

  <div class="row justify-content-center mt-5">
    <% if @user_offers.present? %>
      <% @user_offers.group_by(&:house).each do |house, offers| %>
        <div class="col-md-4 mb-4"> <!-- Each card takes 4 columns on medium-sized screens -->
          <div class="card" style="width: 21rem;">
            <% if house.photos.attached? %>
              <%= image_tag(cl_image_path house.photos.first.key, width: 400, height: 300, crop: :fill) %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= house.address %></h5>
              <p class="card-text">Minimum Ask Price: <%= number_to_currency(house.price, precision: 0) %></p>
              <p class="card-text">Your Offered Price: <%= number_to_currency(offers.last.price, precision: 0) if offers.last.present? %></p>
              <p class="card-text">Highest Offered Price: <%= number_to_currency(house.offers.maximum(:price), precision: 0) %></p>
              <p class="card-text">Date Created: <%= offers.last.created_at.strftime('%Y-%m-%d') if offers.last.present? %></p>
              <%= link_to "Check this out!", house_path(house), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-md-12 text-center">
        <div>
          <%= image_tag 'empty.webp', alt: "No Houses" %>
          <h3>There are no Offers yet.</h3>
        </div>
        <div>
          <%= link_to "View All Houses", houses_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
