<div class="container position-relative">
  <div class="position-absolute top-0 end-0">
  <% if current_user && @house.favourited_by?(current_user) %>
    <%= button_to 'Remove from Favourites', toggle_favourites_house_path(@house), method: :post, remote: true %>
  <% else %>
    <%= button_to 'Add to Favourites', toggle_favourites_house_path(@house), method: :post, remote: true %>
  <% end %>
</div>

<div class="container">

  <%= link_to '< All houses', houses_path %> | <%= link_to 'edit', edit_house_path(@house) if policy(@house).edit? %>
  <hr>

  <h1> <%= @house.address %> </h1>

  <% if @house.photo.attached? %>
    <%= image_tag(cl_image_path @house.photo.key, width: 800, height: 600, crop: :fill) %>
  <% end %>
  <p> Price: $<%= @house.price %> </p>
  <p> Bedrooms: <%= @house.bedroom %> </p>
  <p> Bathrooms: <%= @house.bathroom %> </p>
  <p> Square Feet: <%= @house.square_feet %>sqft </p>
  <p> Price per sqft: $<%= (@house.price.to_f / @house.square_feet).round(2) %></p>
  <p> Description: <%= @house.description %> </p>
  <p> Type: <%= @house.property_type %> </p>
  <p> Tenure: <%= @house.tenure %> </p>

  <hr>
  <%# Geocoding %>
  <div data-controller="map"
    id='map'
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-markers-value="<%= @markers.to_json %>"
    style="width: 100%; height: 600px;"></div>


  <h2>Current Offers</h2>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Price</th>
      <th>Status</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody>
    <% @house.offers.each_with_index do |offer, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= offer.price %></td>
        <td><%= offer.status %></td>
        <td><%= offer.created_at.strftime('%Y-%m-%d') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <h1>Submit an offer</h1>
  <%= simple_form_for [@house, Offer.new] do |f| %>
    <%= f.input :price %>
    <%= f.submit "Submit offer", class: "btn btn-primary" %>
  <% end %>

  <%= link_to '< All houses', houses_path %> | <%= link_to 'edit', edit_house_path(@house) if policy(@house).edit? %>
  <%= link_to 'delete', house_path(@house), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@house).destroy? %>

</div>
