<div class="container">
  <h1> <%= @house.address %> </h1>

  <p>INSERT PHOTO HERE</p>
  <p> <%= @house.price %> </p>
  <p> <%= @house.bedroom %> </p>
  <p> <%= @house.bathroom %> </p>
  <p> <%= @house.square_feet %> </p>
  <p> <%= @house.description %> </p>
  <p> <%= @house.property_type %> </p>
  <p> <%= @house.tenure %> </p>

  <hr>


  <h2>Offers</h2>

  <% @house.offers.each do |offer| %>
    <%= offer.price %>
  <% end %>

  <h1>Submit an offer</h1>
  <%= simple_form_for [@house, Offer.new] do |f| %>
    <%= f.input :price %>
    <%= f.submit "Submit offer", class: "btn btn-primary" %>
  <% end %>

  <%= link_to '< All houses', houses_path %> | <%= link_to 'edit', edit_house_path(@house) if policy(@house).edit? %>
  <%= link_to 'delete', house_path(@house), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@house).destroy? %>


</div>
