<div class="container mt-5">
  <div>
    <%= link_to :back, class: "btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>My Favourites!</h1>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <% if @favourites.present? %>
        <% @favourites.each do |favourite| %>
          <% house = favourite.house %>
          <div class="col-md-3 mb-4 col-6">
            <div class="card" style="width: 18rem;">
              <% if house.photos.attached? %>
                <%= image_tag(cl_image_path house.photos.first.key, width: 400, height: 300, crop: :fill) %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= house.address %></h5>
                <p class="card-text">Minimum Ask Price: <%= number_to_currency(house.price, precision: 0) %></p>
                <%= link_to "Check this out!", house_path(house), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="col-md-12 text-center">
          <div>
            <%= image_tag 'empty.webp', alt: "No Houses" %>
            <h3>There are no favourites yet.</h3>
            <%= link_to "View All Houses", houses_path, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
